<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BooksDbPath"
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Books;AttachDbFileName=Books.mdf;Trusted_Connection=True" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>